// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


/**** index.blade.php ****/

//badge (GET)
$badge-font-size: 1em;
$badge-padding-y:                   .9em;
$badge-padding-x:                   .45em;